html {
	scroll-behavior: smooth;
}

body {
	font-family: $fontFamily;
	font-size: $fontSize;
	background-color: $backgroundColor;
}

div, p {
	font-family: Inter;
	color: $mainColor;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
/*Чтобы прибить footer к низу*/
	display: flex;
	flex-direction: column;
}
.section {
	padding: em(50) 0;
}
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 em(15);
}
.h2 {
	font-size: rem(36);
	line-height: prc(44, 36);
	font-weight: 900;
	margin-bottom: 14px;
}
.element {
	width: 389px;
	height: 1px;
	background: #36D3B7;
	margin-bottom: 14px;
}
.sub-title {
	font-size: $fontSize;
	font-weight: 500;
	line-height: prc(19, 15);
}
.button {
	font-size: rem(24);
	font-weight: 800;
	padding: 10px 20px;
	line-height: prc(29, 24);
	text-align: center;
	border-radius: 13px;
	transition-duration: 200ms;
}
@media(max-width: $tablet) {
	.container {
		max-width: 800px;
	}
	.section {
		padding: em(30) 0;
	}
	.button {
		font-size: rem(22);
	}
}

@media(max-width: $mobile) {
	.button {
		font-size: rem(17);
		padding: 10px 16px;
	}
}

@media(max-width: $mobileSmall) {
	.h2 {
		font-size: rem(26);
		margin-bottom: 14px;
	}
	.element {
		width: 90%;
	}
	.sub-title {
		font-size: rem(13);
		font-weight: 500;
	}
}