// Константы =======================================================
$fontSize: rem(15);
$fontFamily: Inter;
$backgroundColor: #181A1E;
$mainColor: #ffffff;

// Адаптивное свойство ======================================================
$minWidth: 320;
$maxWidth: 1280;
$maxWidthContainer: 1070;

$containerPadding: 15;

$containerWidth: $maxWidthContainer + $containerPadding;

// Брэйк-поинты =======================================================
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(575.98);