.about__section {
	background: url(./../img/decor.svg) right 14% no-repeat;
}
.about__sub-title {
	margin-bottom: em(82);
}
.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 60px;
	width: 90%;
}
.servise__block {
	flex: 0 0 46%;
	display: flex;
	gap: 28px;
	padding: 20px;
	border-radius: 15px;
	transition-duration: 200ms;
	&:hover {
		background: #5FD1BE;
		svg {
			stroke: #181A1E;
			fill: #181A1E;
		}
		div, p {
			color: #000000;
		}
		.service__img {
			display: none;
		}
		.service__img-b {
			display: block;
		}
	}
}
.service__img-container {
	flex: 0 0 22.222%;
}
.service__img {
	object-fit: fill;
}
.service__img-b {
	display: none;
}
.service__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.service__title {
	font-size: rem(24);
	font-weight: 800;
	line-height: prc(29, 24);
}
.servise__subtitle {
	font-size: rem(12);
	font-weight: 500;
}

// @media(max-width: $tablet) {
// 	.about__sub-title {
// 		margin-bottom: em(50);
// 	}
// 	.services {
// 		gap: 0;
// 		width: 100%;
// 	}
// 	.servise__block {
// 		flex: 0 0 46%;
// 		display: flex;
// 		gap: 28px;
// 		padding: 20px;
// 	}
// 	.service__title {
// 		font-size: rem(24);
// 		font-weight: 800;
// 		line-height: prc(29, 24);
// 	}
// 	.servise__subtitle {
// 		font-size: rem(12);
// 		font-weight: 500;
// 	}
// }

// @media(max-width: $mobile) {
// 	.about__section {
// 		background: url(./../img/decor-m.svg) right 14% no-repeat;
// 	}
// 	.services {
// 		gap: 0px;
// 	}
// 	.servise__block {
// 		flex: 0 0 50%;
// 		display: flex;
// 		gap: 28px;
// 		padding: 20px;
// 	}
// 	.service__img-container {
// 		flex: 0 0 22.222%;
// 	}
// 	.service__img {
// 		object-fit: fill;
// 	}
// 	.service__text {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: space-between;
// 	}
// 	.service__title {
// 		font-size: rem(24);
// 		font-weight: 800;
// 		line-height: prc(29, 24);
// 	}
// 	.servise__subtitle {
// 		font-size: rem(12);
// 		font-weight: 500;
// 	}

// }
// @media(max-width: $mobileSmall) {
// 	.about__section {
// 		background: url(./../img/decor-m.svg) right 14% no-repeat;
// 		background: none;
// 	}
// 	.about__sub-title {
// 		margin-bottom: em(50);
// 	}
// 	.services {
// 		gap: 30px;
// 		width: 100%;
// 	}
// 	.servise__block {
// 		flex: 0 0 100%;
// 		display: flex;
// 		gap: 18px;
// 		padding: 4px;
// 	}
// 	.service__img-container {
// 		width: 25%;
// 	}
// 	.service__img {
// 		object-fit: contain;
// 	}
// 	.service__title {
// 		font-size: rem(18);
// 	}
// 	.servise__subtitle {
// 		font-size: rem(13);
// 	}
// }