.about__section {
	background: url(./../img/decor.svg) right 14% no-repeat;
}
.about__sub-title {
	margin-bottom: em(80);
}
.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 60px;
	width: 90%;
}
.servise__block {
	flex: 1 1 45%;
	display: flex;
	gap: 28px;
	padding: 20px;
	border-radius: 15px;
	transition-duration: 200ms;
	&:hover {
		background: #5FD1BE;
		div, p {
			color: #181A1E;
		}
		.service__img {
			display: none;
		}
		.service__img-b {
			display: block;
		}
	}
}
.service__img-container {
	flex: 0 0 80px;
	img {
		object-fit: cover;
	}
}
.service__img-b {
	display: none;
}
.service__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 7px;
}
.service__title {
	font-size: rem(24);
	font-weight: 800;
	line-height: prc(29, 24);
}
.servise__subtitle {
	font-size: rem(12);
	font-weight: 500;
	line-height: prc(15, 12);
}

@media(max-width: $tablet) {
	.about__section {
		background: none;
	}
	.about__sub-title {
		margin-bottom: em(50);
	}
	.services {
		width: 100%;
		gap: 40px;
	}
	.servise__block {
		gap: 20px;
	}
	.service__title {
		font-size: rem(20);
	}
}

@media(max-width: $mobile) {
	.services {
		gap: 30px;
	}
	.servise__block {
		flex: 0 1 440px;
	}
	.service__title {
		font-size: rem(24);
	}
}

@media(max-width: $mobileSmall) {
	.services {
		justify-content: space-evenly;
	}
	.servise__block {
		flex: 1 1 100%;
		padding: 16px;
	}
	.service__title {
		font-size: rem(20);
	}
}