.application__block {
	padding-top: em(50);
}
.smile {
	padding-bottom: em(24);
}
.review__block {
	padding-bottom: em(50);
}
.h2__application-title {
	color: #181A1E;
	margin-bottom: 20px;
}
.application__element {
	width: 430px;
}
.application__sub-title {
	color: #181A1E;
	margin-bottom: em(30);
}