.copyright {
	color: #B9B9B9;
	font-weight: 300;
	text-align: center;
	padding: 18px;
}


// TABLET ====================================================
@media(max-width: $tablet) {

}
// MOBILE ==================================================
@media(max-width: $mobile) {

}
// MOBILE_SMALL ==================================================
@media(max-width: $mobileSmall) {

}
