.header__section {
	background: $backgroundColor;
	padding: 0;
}
.header__container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
	height: 145px;
}
.header__img {
	margin: 0 120px;
	height: 100%;
}
.logo {
	width: 110px;
}
@media(max-width: $tablet) {
	.header__container {
		height: 100px;
	}
	.header__img {
		margin: 0 60px;
	}
}