.portfolio__sub-title {
	margin-bottom: em(50);
}
.portfolio__slider {
	border-radius: 33px;
	@include adaptive-value('height', 390, 220, 0);
	position: relative;
	width: 90%;
	margin: 0;
}
.portfolio__img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right top;
	border-radius: 33px;
	z-index: 10;
}
.portfolio__work-block {
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 100%;
	padding: 70px;
	border-radius: 33px;
	background: linear-gradient(90deg, #5FD1BE 0.28%, rgba(255, 255, 255, 0.95) 44.31%, rgba(255, 255, 255, 0.00) 99.74%);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: 200ms;
}
.work__title {
	color: #181A1E;
	font-size: rem(32);
	font-weight: 800;
	line-height: prc(39, 32);
	margin-bottom: 14px;
}
.work__text {
	color: #181A1E;
	font-size: $fontSize;
	font-weight: 500;
	line-height: prc(18, 15);
	margin-bottom: 24px;
}
.see__button {
	border-radius: 13px;
	background: #ffffff;
	box-shadow: 5px 15px 50px 10px rgba(95, 209, 190, 0.40);
	padding: 10px 20px;
	font-size: rem(24);
	font-weight: 800;
	line-height: prc(29, 24);
	max-width: 164px;
	margin-bottom: 30px;
	transition-duration: 200ms;
	p {
		color: #181A1E;
		text-align: center;
	}
	&:hover {
		background: #181A1E;
		p {
			color: #ffffff;
		}
	}
}
.portfolio__buttons-block {
	position: absolute;
	display: flex;
	top: auto;
	left: auto;
	bottom: 40px;
	right: 40px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.swiper-button-prev, .swiper-button-next {
	position: static;
	&::after {
		display: none;
	}
}

@media(max-width: $tablet) {
	.portfolio__slider {
		width: 100%;
	}
	.portfolio__work-block {
		padding: 40px;
		justify-content: center;
	}
	.work__title {
		font-size: rem(26);
	}
	.see__button {
		font-size: rem(20);
		margin-bottom: 4px;
	}
	.portfolio__buttons-block {
		bottom: 20px;
		right: 20px;
	}
}

@media(max-width: $mobile) {
	.portfolio__work-block {
		padding: 30px;
	}
	.see__button {
		padding: 10px 8px;
	}
	.portfolio__buttons-block {
		bottom: 0;
		height: 40px;
		width: 80px;
	}
}

@media(max-width: $mobileSmall) {
	.work__title {
		font-size: rem(20);
	}
	.work__text {
		font-size: rem(12);
		margin-bottom: 18px;
	}
	.see__button {
		font-size: $fontSize;
		padding: 7px;
		max-width: 120px;
	}
}