.review__block {
	padding-right: 70px;
}
.h2__review-title {
	color: #181A1E;
	margin-bottom: 20px;
}
.review__element {
	width: 780px;
	margin-bottom: 16px;
}
.review__sub-title {
	margin-bottom: 40px;
	color: #181A1E;
}
.review__buttons {
	display: flex;
	// justify-content: space-between;
	gap: 34px;
}
.go-work__button {
	background: #5FD1BE;
	border: #5FD1BE 1px solid;
	box-shadow: 5px 15px 50px 10px rgba(95, 209, 190, 0.30);
	&:hover {
		background: #ffffff;
	}
	p {
		color: #181A1E;
	}
}
.no-work__button {
	border: 1px solid #5FD1BE;
	&:hover {
		background: #5fd1be;
	}
	p {
		color: #181A1E;
	}
}

@media(max-width: $tablet) {
	.review__block {
		padding-right: 0;
	}
	.h2__review-title {
	}
	.h2 {
	}
	.review__element {
	}
	.element {
	}
	.review__sub-title {
	}
	.sub-title {
	}
	.review__buttons {
		gap: 10px;
	}
	.go-work__button {
	}
	.button {
	}
	.no-work__button {
	}
}