.soft__section {
	padding-bottom: em(60);
}
.soft__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.soft__sub-title {
	margin-bottom: em(70);
}
.soft__list {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
}
.soft__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		max-width: 70px;
		object-fit: cover;
	}
}
.logo__name {
	font-size: rem(12);
	line-height: prc(15, 12);
	font-weight: 500;
	margin-top: 14px;
}

@media(max-width: $tablet) {
	.soft__list {
		max-width: 100%;
	}
}
@media(max-width: $mobile) {
	.soft__list {
		gap: 30px;
	}
	.soft__item {
		flex: 0 0 25%;
	}
}