.title__section {
	background: #181A1E;
	padding-top: em(30);
}
.title__container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.title__img-container {
	position: relative;
	max-width: 333px;
}
.statue-img {
	object-fit: contain;
	max-width: 100%;
	border-radius: 33px;
}
.plastilina-img {
	position: absolute;
	object-fit: contain;
	width: 108px;
	right: -80px;
	top: -40px;
}
.title__text-block {
	flex: 1 1 70%;
}
.title__wrap {
	text-align: end;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.h1-title {
	font-size: rem(54);
	font-weight: 900;
	line-height: prc(72, 60);
	// margin-top: 100px;
	margin-bottom: 6px;
}
.title__sub-title {
	margin-top: 5px;
	font-size: rem(24);
	line-height: prc(24, 20);
	font-weight: 300;
}
.title__buttons {
	margin-top: 40px;
	display: flex;
	justify-content: end;
	gap: 30px;
	flex-wrap: wrap;
}
.go-button {
	border: 1px solid #5FD1BE;
	&:hover {
		background: #5FD1BE;
	}
}
.view-portfolio__button {
	background: #5FD1BE;
	box-shadow: 5px 15px 50px 10px rgba(95, 209, 190, 0.30);
	p {
		color: #181A1E;
	}
	&:hover {
		background: #ffffff;
	}
}
.title__element {
	width: 73px;
	height: 1px;
	background: #ffffff;
	margin-top: 125px;
	align-self: flex-end;
}
.title__comment {
	font-size: rem(12);
	line-height: prc(15, 12);
	font-weight: 300;
	margin-top: 16px;
}

@media(max-width: $tablet) {
	.h1-title {
		font-size: rem(50);
		margin-top: 10px;
	}
	.title__sub-title {
		font-size: rem(20);
	}
	.title__buttons {
		margin-top: 30px;
		gap: 18px;
	}
	.title__element {
		margin-top: 50px;
	}
	.title__comment {
		margin-top: 16px;
	}
}
@media(max-width: $mobile) {
	.h1-title {
		font-size: rem(40);
	}
	.title__sub-title {
		font-size: rem(16);
		font-weight: 300;
	}
	.title__comment {
		font-size: rem(12);
		margin-top: 16px;
	}
	.plastilina-img {
		display: none;
	}
}
@media(max-width: $mobileSmall) {
	.title__img-container {
		display: none;
	}
	.title__text-block {
		background: url(./../img/greek-statue-image.jpg) no-repeat center;
		background-size: cover;
		border-radius: 25px;
	}
	.title__wrap {
		text-align: start;
		background: #000000b6;
		border-radius: 25px;
		height: 100%;
		padding: 140px 5px 40px 5px;
	}
	.h1-title {
		font-size: rem(38);
		margin-top: 0;
		margin-bottom: 6px;
	}
	.title__sub-title {
		margin-top: 5px;
		font-size: rem(20);
	}
	.title__buttons {
		gap: 8px;
		justify-content: start;
	}
	.title__element {
		align-self: start;
	}
}