.title__section {
	background: #181A1E;
}
.title__container {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.title__img-container {
	position: relative;
}
.statue-img {
	object-fit: contain;
	width: 100%;
	border-radius: 33px;
}
.plastilina-img {
	position: absolute;
	object-fit: contain;
	right: -80px;
	top: -40px;
}
.title__text {
	text-align: end;
	flex: 1 1 65%;
}
.h1-title {
	font-size: rem(60);
	font-weight: 900;
	line-height: prc(72, 60);
	margin-top: 140px;
	margin-bottom: 6px;
}
.title__sub-title {
	margin-top: 5px;
	font-size: rem(24);
	line-height: prc(24, 20);
	font-weight: 300;
}
.title__buttons {
	margin-top: 40px;
	display: flex;
	justify-content: end;
	gap: 30px;
}
.go-button {
	border: 1px solid #5FD1BE;
	&:hover {
		background: #5FD1BE;
	}
}
.view-portfolio__button {
	background: #5FD1BE;
	box-shadow: 5px 15px 50px 10px rgba(95, 209, 190, 0.30);
	p {
		color: #181A1E;
	}
	&:hover {
		background: #ffffff;
	}
}
.title__element {
	width: 73px;
	height: 1px;
	background: #ffffff;
	margin-left: auto;
	margin-top: 125px;
}
.title__comment {
	font-size: rem(12);
	line-height: prc(15, 12);
	font-weight: 300;
	margin-top: 16px;
}

@media(max-width: $tablet) {
	.plastilina-img {
		display: none;
	}
	.h1-title {
		font-size: rem(50);
		margin-top: 100px;
	}
	.title__sub-title {
		font-size: rem(20);
	}
	.title__buttons {
		margin-top: 30px;
		gap: 18px;
	}
	.go-button {
		// font-size: rem(22);
	}
	.view-portfolio__button {
		// font-size: rem(22);
	}
	.title__comment {
		font-size: rem(11);
		margin-top: 16px;
	}
}
@media(max-width: $mobile) {
	.h1-title {
		font-size: rem(40);
		margin-top: 100px;
	}
	.title__sub-title {
		font-size: rem(16);
		font-weight: 300;
	}
	.title__buttons {
		margin-top: 40px;
		display: flex;
		justify-content: end;
		gap: 8px;
	}
	.title-element {
		margin-top: 60px;
	}
	.title__comment {
		font-size: rem(12);
		margin-top: 16px;
	}
}
@media(max-width: $mobileSmall) {
	.title__img-container {
		display: none;
	}
	.title__text {
		background: url(./../img/greek-statue-image.jpg) no-repeat center;
		background-size: cover;
		border-radius: 25px;
	}
	.title__wrap {
		background: #000000b6;
		border-radius: 25px;
		height: 100%;
		padding: 140px 5px 40px 5px;
	}
	.h1-title {
		font-size: rem(38);
		margin-top: 0;
		margin-bottom: 6px;
	}
	.title__sub-title {
		margin-top: 5px;
		font-size: rem(20);
	}
	.title__buttons {
		gap: 8px;
	}
	.go-button {
	}
	.view-portfolio__button {
	}
	.title__element {
		width: 73px;
		height: 1px;
		background: #ffffff;
		margin-left: auto;
		margin-top: 125px;
	}
	.title__comment {
	}
}